# Node.js dependencies
/node_modules/

# TypeScript build output
/dist/
/build/

/# .env files
.env
.env.local
.env.*.local

# Log files
*.log
logs/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# NPM package-lock
package-lock.json

# Yarn
yarn.lock

# pnpm-lock.yaml
pnpm-lock.yaml

# OS-specific files
Thumbs.db
ehthumbs.db

# Sequelize migration artifacts
/sequelize-migrations/
